/* 1.2) Если изображение загружено */


position: relative;
width: 1440px;
height: 900px;

background: #FFFFFF;


/* Базовый 2 */


position: relative;
width: 1440px;
height: 900px;

background: #FFFFFF;


/* 2) Если написать название */


position: relative;
width: 1440px;
height: 900px;

background: #FFFFFF;


/* 1) Если пролистать вниз (на одной странице 9 маленьких блоков) */


position: relative;
width: 1440px;
height: 925px;

background: #FFFFFF;


/* Базовый */


position: relative;
width: 1440px;
height: 900px;

background: #FFFFFF;


/* 2) При наведении */


position: relative;
width: 1440px;
height: 900px;

background: #FFFFFF;


/* Frame */


position: relative;
width: 1540px;
height: 900px;

background: #FFFFFF;


/* Text */


position: absolute;
width: 100px;
height: 100px;
